.historybg {
  background-image: url(../assets/history-bg.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.historyGlass {
  background: rgba(255, 255, 255, 0.37);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
}
.historyCard {
  background: #ffffff7a;
  border-radius: 8px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
}
.inputbg {
  background: #ffffff;
}

.adminbg {
  background: url(../assets/admin-bg1.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.adminbg2 {
  background: url(../assets/admin-bg2.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
