@media only screen and (max-width: 480px) {
	.navcontainer {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}
	.togglenav {
		width: 320px;
		justify-content: space-between;
		padding-bottom: 7px;
	}
	.footer {
		flex-direction: column;
	}
	.footerlogo {
		display: none;
	}
}
